#loginName {
  margin-left: 7%;
  margin-top: 3%;
  width: 100%;
}

.login {
  display: flex;
  margin-left: 3%;
  margin-top: 7%;
  justify-content: space-between;
}

.loginMessage {
  display: inline-block;
  width: 50%;
}

.loginMessage h1 {
  color: orange;
  margin: 5px;
}

.loginMessage h1 span {
  color: #626262;
}

.loginMessage p {
  color: #a5a5a5;
  font-size: 12px;
}

.loginForm {
  margin-top: 5%;
  display: block;
  width: 35%;
}

.loginForm input {
  display: block;
  padding: 5px;
  margin: 10px;
}

.loginForm button {
  border: none;
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #8ebf42;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}
