.register {
  display: flex;
  margin-top: 4%;
  margin-left: 2%;
  justify-content: space-between;
}

#registerName {
  margin-top: 3%;
  margin-left: 3%;
  width: 100%;
}

.registerMessage {
  display: inline-block;
  width: 40%;
}

.registerMessage h1 {
  color: orange;
  margin: 5px;
}

.registerMessage h1 span {
  color: #626262;
}

.registerMessage p {
  color: #a5a5a5;
  font-size: 12px;
}

.registerForm form {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
}

.registerForm label {
  font-size: 14px;
  font-weight: bold;
  color: #f0972a;
}

.registerForm input {
  height: 30px;
  border-radius: 5px;
  border: 0.1px solid;
  background-color: rgb(240, 240, 240);
  margin: 10px;
  padding: 3px;
}

.registerForm form button {
  margin: 5px;
  padding: 5px;
  width: 170px;
}

#registerBtn {
  position: relative;
  width: 100px;
  display: block;
  height: 50px;
  color: #f1f1f1;
  background-color: orange;
  border: 1px solid orange;
  border-radius: 5px;
  left: 70%;
}
